@model webike.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteDifficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteDifficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuitableBikeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuitableBikeType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventActivityID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
