@model webike.ViewModels.WorkoutViewModel

@{
    ViewData["Title"] = "Details";
 
}

<h1>Details</h1>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workout.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workout.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workout.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workout.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workout.SuitableBikeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workout.SuitableBikeType)
        </dd>
    </dl>
</div>
<div>

<div class="container">
    
    <h3>Oefeningen:</h3>
    <div>
        @foreach (var item in Model.Workout.Excercises)
        {
            <p>@item.Title</p>
            <p>@item.Description</p>
        }
    </div>
    @if(Model.UserIsOwner)
    {
        <div>
            @foreach (var item in Model.ExcercisesToAdd)
            {
                <div>
                    <p>@item.Title</p>
                    <p>@item.Description</p>
                    <a href="/Workout/AddExcToWorkout/@Model.Workout.EventActivityID?excsid=@item.ExcerciseID">Voeg oefening toe aan training</a>
                </div>
            }
        </div>
    }

</div>

<div class="container">
    <hr/>
    @if(!Model.UserIsOwner){
        <form method="post" action="/Workout/CreateRating/@Model.Workout.EventActivityID">
            <div>
                <label>Nummer van 1 tot 5:</label>
                @Html.TextBoxFor(m => m.NewRating.Number, new { @type = "number", @min="1", @max="5" })
            </div>
            <div>
                <label>Tekst</label>
                @Html.TextAreaFor(m => m.NewRating.Description)
            </div>
            <input type="submit" value="Deel ervaring"/>
        </form>
        //@Html.TextBoxFor(i => i.Port) 
    }
    <div>
        @foreach (var item in Model.Workout.Ratings)
        {
            <div>

                <hr/>
                <p>@item.Cyclist.Alias</p>
                <p>Rating van: @item.Number</p>
                <p>@item.Description</p>
            </div>
        }
    </div>
</div>