
@model webike.ViewModels.ContactViewModel

<div class="container">


    <div>
        <h3>Jouw contacten:</h3>
        <div>
            @if(Model.Contacts.Count == 0)
            {
                <p>Je hebt nog geen contacten</p>
            }else{
                @foreach (var item in Model.Contacts)
                {
                    <hr/>
                    @if(Model.CurUserName == item.Receiver.Alias)
                    {
                        <p>@item.Sender.FirstName @item.Sender.LastName</p>
                    }else{
                        <p>@item.Receiver.FirstName @item.Receiver.LastName</p>
                    }
                    
                }
            }
            
        </div>
        
    </div>
    <div>
        <h3>Jouw contactverzoeken</h3>
        <div>
            @if(Model.PendingContacts.Count == 0)
            {
                <p>Je hebt nog geen contactverzoeken</p>
            }else{
                @foreach (var item in Model.PendingContacts)
                {
                    <hr/>
                    <p>@item.Sender.Alias</p>
                    <a href="Contact/Accept/@item.ContactID">Accepteer contactverzoek</a>
                    <a href="Contact/Reject/@item.ContactID">Wijs Contactverzoek af</a>
                }
            }
            
        </div>
    </div>
    <div>
        <h3>Fietsers die je misschien toe wilt voegen:</h3>

        <div>
            @if(Model.Cyclists.Count == 0)
            {
                <p>Geen fietsers gevonden</p>
            }else{
                @foreach (var item in Model.Cyclists)
                {
                    <hr/>
                    <p>@item.Alias</p>
                    <a href="Contact/Add/@item.UserID">Voeg toe als vriend</a>
                }
            }
            
        </div>
    </div>

</div>