@model webike.Models.Event

@{
    ViewData["Title"] = "Details";
    var userIsOwner = false;
}


<div>
    <h1>@Model.Title</h1>
    <hr />
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Public)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Join" asp-route-id="@Model.EventID">Vrienden toevoegen</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Gebruikersnaam
            </th>
            <th>
                Naam
            </th>
            <th>
                Woonplaats
            </th>
        </tr>
        @foreach (var item in Model.Attendees)
        {
            <tr>
                <td>
                    @item.Alias
                </td>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @item.City
                </td>
            </tr>
        }
    </thead>
</table>

<div>
    @{
        foreach (var item in Model.Ratings)
        {
            <p>@item.Cyclist.Alias</p>
            <p>Rating van: @item.Number</p>
            <p>@item.Description</p>
        }
    }
</div>

@if(userIsOwner){
    <div>
        <a asp-action="Edit" asp-route-id="@Model.EventID">Edit</a>    
    </div>
}
<a asp-action="Index">Back to List</a>



